:root {
  --black-color: #161515;
  --base-color-green: #baef00;
  --base-color-green-hover: #d9ff56;
  --base-color-green-active: #a3d200;
  --border-grey-color: #e3e3e3;
  --price-color: #6c6c6c;
  --placeholder-text-color: #8d8d8d;
  --transition-duration: 0.3s; /*Переменная для задания скорости изменения состояний*/
}

html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: var(--black-color);
  background-color: white;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/********************************** Ссылка *******************************************/
.default-link {
  color: var(--black-color);
  text-decoration: underline;
  transition: color var(--transition-duration),
    background-color var(--transition-duration); /*укзаывается сначала параметр который будем менять например color, а потом скорость, в данном случае скорость задано переменной которую мы объявили в начале .3s*/
  cursor: pointer;
}
.default-link:focus-visible {
  outline: none; /* Чтобы при нажатии на таб не было рамки */
  background-color: var(--base-color-green);
}
.default-link:hover {
  color: var(--base-color-green-hover);
}
.default-link:active {
  background-color: var(--base-color-green-active);
}

/*********************************  Кнопка *****************************************/
.default-btn {
  display: inline-block;
  padding: 11px 47px;
  color: var(--black-color);
  border-radius: 12px;
  background-color: var(--base-color-green);
  border: none; /*Рамка*/
  outline: 1px solid transparent; /*Обводка*/ /*transparent - прозрачный*/
  outline-offset: 2px; /*отступ обводки от кнопки*/
  transition: outline-color var(--transition-duration),
    background-color var(--transition-duration);
  cursor: pointer;
}
.default-btn:focus-visible {
  outline-color: var(--base-color-green);
}
.default-btn:hover {
  background-color: var(--base-color-green-hover);
}
.default-btn:active {
  background-color: var(--base-color-green-active);
}

/**********************************Поле для ввода текста************************************/
.text-input-field {
  padding: 11px 16px 11px 16px;
  border-radius: 12px;
  border: 1px solid var(--border-grey-color);
  transition: border-color var(--transition-duration);
  outline: none;
}
.text-input-field::placeholder {
  /*Стиль для плацхолдера текстового поля*/
  color: var(--placeholder-text-color);
}
.text-input-field:focus {
  border-color: var(--base-color-green);
}

/******************************Подзаголовок*************************************/
.subtitle {
  text-align: center;
  margin: 0;
  font-size: 34px;
  font-weight: 700;
}

/*********************************Лого*************************************/
.logo {
  width: 154px;
  display: block;
}

/*******************************Меню***************************************/
.menu__list {
  display: flex;
  align-items: center;
  gap: 50px; /*Расстояние между элементами списка*/
  list-style: none; /****Убирает точки у элементов списка***/
  margin: 0;
  padding-left: 0;
}
.menu__link {
  color: white;
  outline: none;
  transition: color var(--transition-duration),
    background-color var(--transition-duration);
}
.menu__link:focus-visible {
  outline: none; /* Чтобы при нажатии на таб не было рамки */
  background-color: var(--base-color-green);
  color: var(--black-color);
}
.menu__link:hover {
  color: var(--base-color-green-hover);
}
.menu__link:active {
  background-color: var(--base-color-green-active);
}

/**********************************Форма обратной связи**********************************************/
.callback-form {
  display: flex;
  gap: 16px;
}
.callback-form__input {
  flex-basis: 288px; /*Ширина текстового поля для ввода*/
}

/************************** Карточка товара **********************************/
.product-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  border: 1px solid var(--border-grey-color);
  /* overflow: hidden; Всё что выходит за рамки блока будет не видно */
}
.product-card__img {
  display: block;
  height: 180px;
  width: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  object-fit: contain;
  flex-shrink: 0; /*Чтобы изображение не сжималось*/
}
.product-card__body {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.product-card__body-info {
  margin-bottom: 22px;
}
.product-card__title {
  font-weight: 700;
  font-size: 21px;
  margin-top: 0;
  margin-bottom: 10px;
}
.product-card__price {
  font-size: 18px;
  color: var(--price-color);
  font-weight: 700;
}
.product-card__btn {
  width: 100%;
}
.product-card_big {
  border: none;
  position: relative;
  height: 350px;
}
.product-card__img_big {
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
}
.product-card__body_big {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  color: white;
  align-items: flex-start;
}
.product-card__price_big {
  color: white;
}
.product-card__btn_big {
  width: initial;
}

/* Каталок */
.catalog {
  padding: 80px 0px;
}
.catalog__subtitle {
  margin-bottom: 60px;
}
.catalog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 30px;
}
.catalog__item--big {
  grid-column: span 2; /*Элемент будет занимать две ячейки fr в даблице*/
}
.catalog__card {
  height: 100%;
}

/* Контейнер */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* Шапка */
header {
  background-color: var(--black-color);
}
.header__logo {
  display: block;
  padding: 22px;
  background-color: var(--base-color-green);
  outline: none;
  transition: background-color var(--transition-duration);
}
.header__logo:hover {
  background-color: var(--base-color-green-hover);
}
.header__logo:active {
  background-color: var(--base-color-green-active);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Приветственный экран*/

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 80px;
  gap: 30px;
}
.hero__container::after {
  content: ""; /*Обязательно нужно указывать иначе не будет работать*/
  display: block;
  flex-basis: 470px;
  height: 375px;
  background-image: url(img/hero.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.hero__content {
  flex-basis: 484px;
}
.hero__title {
  font-size: 34px;
  margin-top: 0;
  margin-bottom: 20px;
}
.hero__desc {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 48px;
  max-width: 360px;
}

/* Форма обратной связи */
.callback {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.callback::before {
  content: "";
  display: block;
  background-image: url(img/callback-left.jpg);
  background-size: cover;
  background-position: center;
}
.callback__right {
  padding: 72px 50px;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url(img/callback-right.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}
.callback__title {
  position: absolute;
  font-size: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
.callback__desc {
  margin-top: 0;
  max-width: 424px;
  margin-bottom: 26px;
  font-size: 20;
}

.footer {
  padding: 23px 15px;
  background-color: var(--border-grey-color);
  display: flex;
  justify-content: center;
}
.footer__logo {
  opacity: 50%;
}

@media (max-width: 920px) {
  /************* Форма обратной связи ****************/
  .callback-form {
    flex-direction: column; /*При мобильной версии поле ввода и кнопка будут идти не в строку а в столбик*/
  }
  .callback-form__input {
    flex-basis: initial;
  }

  /************************** Карточка товара **********************************/
  .product-card__img {
    height: 90px;
  }
  .product-card__body {
    padding: 10px;
  }
  .product-card__body-info {
    margin-bottom: 22px;
  }
  .product-card__title {
    font-size: 14px;
  }
  .product-card__price {
    font-size: 14px;
  }

  .product-card__img_big {
    height: 100%;
  }
  .product-card__btn_big {
    width: 100%;
  }

  /* Шапка */
  .header__container {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }
  .header__logo {
    display: flex;
    justify-content: center;
  }
  .header__menu {
    padding: 20px 0px;
    width: 100%;
    overflow-x: scroll; /*Чтобы можно было листать его*/
  }
  .header__menu-list {
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
  }

  /*Приветственный экран*/
  .hero__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .hero__container::after {
    display: none; /*Отключаем псведокласс*/
  }
  .hero__title {
    font-size: 28px;
  }

  /* Форма обратной связи */
  .callback {
    display: block;
  }
  .callback::before {
    content: "";
    display: none;
  }
  .callback__right {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Каталок */
  .catalog {
    padding: 40px 0px;
  }
  .catalog__subtitle {
    margin-bottom: 30px;
  }
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
